<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body class="text-secondary bg-dark">
        <!-- Header -->
        <%- include('./partials/header', { url: url}); %>
       
        <!-- Main content -->
        <%- include('./partials/body', { url: url}); %>
        <div class="container">
            <div class="row h-90">
                <div
                    class="border-lg border-white col-6 d-flex justify-content-around mx-auto my-auto"
                >
                    <div class="t-prime">
                        <div class="card-body text-center">
                            <!-- Left column content -->
                            <h1 style="font-size: 4em"><%=url%></h1>
                            <p style="font-size: 2em">This Domain is Forsale</p>
                            <h2 style="font-size: 3em">$<%=price%>.00</h2>
                            <button class="btn btn-lg b-prime">Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-5 px-5 mx-auto my-auto">
                    <div class="card rounded-100 shadow alt-bg">
                        <div class="card-body my-5 text-white">
                            <!-- Right column content -->
                            <form>
                                <div class="mb-3">
                                    <label
                                        for="exampleInputEmail1"
                                        class="form-label text-white"
                                        >Email</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control bg-white shadow-sm"
                                        id="exampleInputEmail1"
                                        aria-describedby="emailHelp"
                                    />

                                    <div class="mb-3 form-check">
                                        <input
                                            type="checkbox"
                                            class="form-check-input"
                                            id="exampleCheck1"
                                        />
                                        <label
                                            class="form-check-label text-white align-left"
                                            for="exampleCheck1"
                                            >Hide Real Email Address</label
                                        >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="exampleInputPassword1"
                                        class="form-label"
                                        >Name</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control bg-white shadow-sm"
                                        id="exampleInputPassword1"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="exampleInputPassword1"
                                        class="form-label"
                                        >Offer</label
                                    >
                                    <input
                                        type="password"
                                        class="form-control bg-white shadow-sm"
                                        id="exampleInputPassword1"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"
                                        >Message</label
                                    >
                                    <textarea
                                        class="form-control"
                                        id="exampleFormControlTextarea1"
                                        rows="5"
                                    ></textarea>
                                </div>
                                <br />
                                <div class="d-flex justify-content-around">
                                    <button
                                        type="submit"
                                        class="btn btn-primary justify-content-around"
                                    >
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('./partials/footer', { url: url}); %>
    </body>
</html>
<style>
    .alt-bg {
        background-color: #084c55;
    }
    .t-prime {
        color: #084c55;
    }
    .b-prime:hover {
        background-color: #084c55;
        color: #fff;
        border: solid 1px#fff;
    }
    .b-prime {
        background-color: #fff;
        border: solid 1px #084c55;
        color: #084c55;
    }
    .main-bg {
        background-image: url(./mtn.jpg);
    }
</style>
